@use '../../styles/abstracts' as *;

.form {
    @include flex(flex-start, flex-start, column);

    input {
        width: 100%;
        padding: 0;
        outline: none;
        border: none;
        border-bottom: 1.2px solid $color-primary-black;
        background: none;
        padding-bottom: 0.44rem;

        &:not(:last-child) {
            margin-bottom: 1.69rem;
        }

        &::placeholder {
            font-family: Lato;
            font-size: 0.875rem;
            color: $color-placeholder-grey;
            font-weight: 200;
        }
    }
}

.forgotPassword {
    color: #535353;
    font-family: $font-lato;
    font-size: 0.75rem;
    margin: 0.87rem 0 2.25rem auto ;
}

