@use '../abstracts' as *;

body {
    font-family: $font-roboto;
    overflow-x: hidden;
}

.wrapper {
    padding: 0 1.875rem;
    margin: 0 auto;

    @include mq(medium) {
        padding: 0 3.125rem;
    }

    @include mq(large) {
        padding: 0 4.375rem; 
    }
}