@use '../../styles/abstracts' as *;

.banner {
    background: $color-primary-black;
    color: $color-primary-white;
    height: 75vh;
    @include flex(flex-end, center);

}

.heading {
    padding: 0 1.875rem;
    text-align: center;

    h1 {
        margin-bottom: 1.12rem;

        @include mq(large) {
            margin-bottom: 2.5rem;  
        }
    }

    p {
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 142.857%;
    }

    a {
        margin-block: 7.51rem;
        @include flex(center, center);
        color: $color-primary-white;
        text-decoration: none;

        @include mq(large) {
            margin-block: 3.3rem 10.25rem;
        }

        svg {
            margin-left: 0.38rem;
        }
    }
}