
/*
    Fonts 
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500;700&display=swap');

$font-lato: 'Lato', sans-serif;
$font-roboto: 'Roboto', sans-serif;

/*
    Colors 
*/
$color-primary-black: #000000;
$color-primary-white: #ffffff;
$color-secondary-purple: #735eed;
$color-red: #f14343;