@use '../../styles/abstracts' as *;
header {
    position: fixed;
    height: fit-content;
    width: 100vw;
    top: 0;
    background: $color-primary-black;
    .header {
        margin: 0 auto;
        font-family: $font-lato;
        width: 100vw;
        max-width: 90rem;
        .loginIcon {
            color: $color-primary-white;
        }
        .linkWrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-height: 5.6em;
            height: 100vh;
            ul:last-child a svg{
                margin-left: 1.2em;
            }
            ul:last-child a span {
                padding-left: 0.2em;
            }
            ul {
                margin-right: 2.55em;
            }
            li a {
                margin: 1.5em;
                font-size: to_rem(16);
            }
            li a:hover, li a:hover svg {
                color: $color-secondary-purple;
            }
            ul li a, .headerLogo {
                text-decoration: none;
                color: $color-primary-white;
                font-weight: 300;
            }
            .headerLogo{
                margin: 0 2.5em;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.51em;
                letter-spacing: to_rem(2);
            } 
        }   
        .loginSignUpContainer{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }
}
